<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b07f055d-b310-4e63-8dd9-f203e38b602a/resourcegroups/BlueYonderServerLab07/providers/Microsoft.Web/sites/BlueYonderCompanionHost20171001075603</ResourceId>
    <ResourceGroup>BlueYonderServerLab07</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blueyondercompanionhost20171001075603.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>blueyondercompanionhost20171001075603.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlueYonderCompanionHost20171001075603</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BlueYonderCompanionHost20171001075603</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TravelCompanion" Order="1" Enabled="False">
          <Destination Path="Data Source=mwbbi74cgz.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonderAdmin@mwbbi74cgz;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mwbbi74cgz.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonderAdmin@mwbbi74cgz;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TravelCompanion_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=mwbbi74cgz.database.windows.net,1433;Database=BlueYonder.Companion.Lab07;User ID=BlueYonderAdmin@mwbbi74cgz;Password=Pa$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TravelCompanion-Web.config Connection String">
      <ParameterValue>Data Source=mwbbi74cgz.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonderAdmin@mwbbi74cgz;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>